# 가상 환경 폴더 제외
.venv/

# 오디오 파일 디렉토리 제외
audio_files/
uploads/

# Python 관련 기본 ignore
__pycache__/
*.py[cod]
*$py.class

# 환경 설정 파일
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS 관련 파일 제외
.DS_Store

# 로그 파일 제외
*.log

# 모델 파일 제외
pef_prediction_model.h5

# 기타 빌드 관련 파일 제외
build/
dist/
*.egg-info/
